#wrapper {
	height: 1000px;
	width:1420;
  background-color: white;
  margin: 0 auto;
}


#header{
  height: 160px;
  width: 100%;
  background-color: #E5CEC1;
  margin: 0 auto;
  position:fixed;
}

/*https://www.w3schools.com/css/css_link.asp (source for <a href> styling)*/
a:link {
  text-decoration: none;
	color: #624A2E;
}

a:visited {
  text-decoration: none;
	color: #624A2E;
}

a:hover {
  text-decoration: none;
	color: white;
}

a:active {
  text-decoration: none;
	color: #624A2E;
}

.logo{
  float:left;
  margin: 30px 600px 0px 60px;
}


.tab1{
  float:left;
	width:85px;
	height: 35px;
	background-color:#D7B9AA;
	padding-top: 15px;
	margin: 55px 30px 60px 0px;
  text-align: center;
  font-family: Courier New, monospace;
  font-weight:500;
  font-size:17px;
  color: #624A2E;

}

.picture{
  width:1420px;
	display:block;
	margin-left: auto;
  margin-right: auto;
  padding:170px 0px 10px 0px;

}

.quote{
  text-align: center;
  font-family: monospace;
  font-size: 35px;
}

#application{
  float: center;
	border: solid red;
	width:300px;
	height: 80px;
	background-color:#FA8072;
	padding: 30px 10px 10px 10px;
	margin: 0 auto;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  color: white;
  font-size:40px;
}

a.two:link {
  text-decoration: none;
	color: white;
}

a.two:visited {
  text-decoration: none;
	color: white;
}

a.two:hover {
  text-decoration: none;
	color: black;
}

a.two:active {
  text-decoration: none;
	color: white;
}

.HighlightVideo{
	display:block;
	margin-left: auto;
  margin-right: auto;
	width:1420px;
	height: 500px;
	padding:20px 0px 30px 0px;
}

#footer{
  height: 160px;
  width: 100%;
	background-color: #D7B9AA;
  margin: 0 auto;
  clear: both;
  position: relative;
	align-items: center;
}

.CenterText{
	text-align: center;
}

.logo2{
	display:block;
	margin-left: auto;
  margin-right: auto;
	width:100px;
}

.Social{
  float: right;
  width:30px;
  margin: 2px 30px 10px 0px;
}
