#wrapper {
	height: 1000px;
	width: 1000px;
  background-color: white;
  margin: 0 auto;
}


#header{
  height: 150px;
  width: 1000px;
  background-color: white;
  margin: 0 auto;
  position: fixed;
}


<<<<<<< HEAD
=======

>>>>>>> 17edbdb42bc6321533c8dd56359cfe2b9fba940e
#leftContent{
	padding-top: 200px;
	height: 800px;
	width: 780px;
	background-color: white;
	float: left;
}


<<<<<<< HEAD
#rightContent {
  width: 200px;
  height: 250px;
  background-color: #7DCEA0;
=======

#rightContent {
  width: 200px;
  height: 250px;
  background-color: #CCD1D1;
>>>>>>> 17edbdb42bc6321533c8dd56359cfe2b9fba940e
  float: right;
	right: 10px;
	margin: 180px 5px 10px 10px;
}

<<<<<<< HEAD

=======
>>>>>>> 17edbdb42bc6321533c8dd56359cfe2b9fba940e
#footer {
  height: 80px;
  width: 1000px;
	background-color: #2471A3;
  clear: both;
}
