body{
	color:white;
	background-color:black;
}


#wrapper{
	width:500px;
	margin:0 auto;
	background-color:white;
	border-top: white 5px solid;
	border-bottom: white 45px solid;

}

#header{
	height:50px;
	text-align:center;
	background-color: red;
	padding-top: 5px;
	padding-bottom:10px;

}

#leftbody{
	float:left;
	width:500px;
	height: 50px;
	background-color:green;
	padding-top: 10px;
}

#bottom{
	height:50px;
	clear:both;
	background-color: blue;
	padding-top: 10px
}
